body {
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    max-width: 800px;
    margin: auto;
    background-color: #87bbf7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.imagen {
    border: 2px solid #000;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
